<?xml version="1.0"?>
<model>
  <name>track_nxgv</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>sapiuddin</name>
    <email>sapiuddinsanawi@gmail.com</email>
  </author>
  <description>
    Lantai litar tersuai 2D untuk robot Ackermann.
  </description>
</model>
